.Footer__content {
    background-color: #101828;
    height: 694px;
    gap: 40px
}

.top__content {
    display: flex;
    justify-content: space-around;
}

.top__content h1 {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 377px;
    margin: 3rem 14rem 0 46px;
}

.top__content-playstore {
    margin: 4rem 0rem 0rem 4rem;
}

.top__content-playstore img {
    margin: 1rem 1rem 0 0;
    height: 58px;
}

hr {
    color: white;
    margin: 2rem 4rem;
    width: 74rem;
}

.middle__content-container {
    display: flex;
    margin: auto;
}

.middle__content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.middle__content p {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    margin: 1rem 0;
}

.middle__content-socials img {
    margin-left: 2rem;
    width: 30px;

}

.middle__content-socials {
    margin-left: -2rem;
}

.middle__content-contact {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
}

.contact {
    display: flex;
    align-items: center;
}

.middle__content-contact img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.rights {
    color: white;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 2rem;


}

@media screen and (max-width:550px) {
    .Footer__content {
        height: 805px;
        width: 100vw;
        position: relative;
    }

    .top__content {
        display: block;

    }

    .top__content h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.001em;
        text-align: center;
        margin: 0rem 0rem 0 55px !important;
        width: 219px;
        height: 60px;

    }

    .top__content-playstore {
        margin: 2rem 0rem 0rem 2rem;
    }

    .top__content-playstore img {
        width: 113.16px;
        height: 33.64px;
    }

    hr {
        margin: 0.6rem 0rem;
        height: 1px;

    }

    .middle__content-middle {
        margin-left: 8rem;
    }

    .middle__content p {
        font-family: "Poppins";
        font-size: 15px;
        line-height: 25px;
        margin: 0.5rem 0;
        width: 292px;
    }

    .middle__content-middle p {
        width: 104px;
    }

    .middle__content-socials img {
        margin: 1rem 0 0 1rem;
        width: 20px;

    }

    .middle__content-socials {

        width: 15px;
        display: flex;
        margin-bottom: 0rem;
    }

    .middle__content-contact {
        /* width: 250px;
        margin-left: 3rem; */
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
        margin-top: 1rem;
    }


    .contact {
        display: flex;
        align-items: center;
        width: 165px;
    }

    .contact img {
        margin-right: 2rem;
    }

    .middle__content-contact img {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
    }

    .middle__content {
        height: 258px;
        display: block;
        margin-bottom: 7rem;
    }

    .middle__content-container {
        display: flex;
        flex-direction: column;
    }

    #number {
        margin-left: 2rem;
    }


    .rights {
        font-size: 14px;
        width: 298px;
        height: 21px;

        margin-left: 3rem;
    }

    .white__logo {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        align-items: center;
    }

    .white__logo img {
        width: 217px;
        margin-right: 7px;
    }

    #line {
        position: absolute;
        bottom: 6rem;
        width: 100vw;
    }

    #playline {
        position: absolute;
        top: 13rem;
        width: 100vw;
    }


}